@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://www.coasa.com.ar/">Web Aplication to COA S.A.</a>.</p>
</div>

<div class="text-center">
    <a class="btn btn-outline-primary" href="https://localhost:44382/Home/ListaUsuario">Lista De Usuarios</a>
</div>
